.dashboardContainer{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding: 5px 10%;
    overflow-y: scroll;
    height: 75vh;

}
.dashboardContainer .upper{
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(101, 126, 76);
}
.dashboardContainer .minor{
    color: rgb(74, 100, 100);
}

.dashboardContainer .buttons{
    position: relative;
    top: 30px;
}
.buttons input{
    width: 110px;
    height: 20px;
    background-color: blue;
    color: white;
    padding: 5px;
    text-align: center;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;


}