.headerContainer{
    box-shadow: 0 2px 8px grey, 0 6px 3px rgb(224, 221, 221);
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    height: 70px;
    width: 100%;

}
.logoContainer{
    position:relative;
    top: 25px;
    left: 5px;
}
.messagePart{
    position:relative;
    top:10px;
}
.messagePart ul{
    display: flex !important;
    flex-direction: row;
    box-shadow: 0 2px 5px rgb(248, 242, 242);
    list-style: none;

    
}
.messagePart li{
  margin: 0 10px;
}

.auth{
   position: relative;
   top: 20px;
   display: flex;
   flex-direction: row;
}
.auth input{
    margin: 0 5px;
    width: 50px;
    height: 25px;
}